.button {
    @apply flex
        flex-row
        items-center
        justify-center
        gap-2
        rounded
        w-fit
        px-4
        py-2
        font-medium
        transition-colors
        duration-200
        focus:outline-none
        disabled:cursor-not-allowed;

    svg {
        @apply size-5;
    }
}

.primary {
    &.outline {
        @apply border
            border-cyan-500
            text-cyan-500
            hover:bg-cyan-500
            hover:text-white
            dark:hover:bg-cyan-400
            dark:hover:text-white;
    }

    &.solid {
        @apply bg-cyan-500
            text-white
            hover:bg-cyan-600
            dark:hover:bg-cyan-400;
    }
}

.neutral {
    &.outline {
        @apply border
            border-gray-900
            text-gray-900
            hover:bg-gray-900
            hover:text-white
            dark:border-white
            dark:text-white
            dark:hover:bg-white
            dark:hover:text-gray-900;
    }

    &.solid {
        @apply bg-gray-500
            text-white
            hover:bg-gray-600
            dark:hover:bg-gray-400;
    }
}
