.features {
    @apply py-12
        w-full
        flex
        flex-col
        justify-center
        bg-gradient-to-b
        from-transparent
        via-gray-50
        to-gray-100
        md:py-24
        lg:py-32
        xl:py-48
        dark:via-gray-900
        dark:to-gray-900;

    h2 {
        @apply text-3xl
            font-bold
            text-center;
    }

    .featuresList {
        @apply grid
            grid-cols-1
            gap-8
            mt-8
            mx-auto
            md:grid-cols-2
            lg:grid-cols-3;
    }
}
